body{
  text-align: center;
  margin: 0;
}

.clearfix:after{
  visibility: hidden;;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
header{
  background-color: #f15b31;
  padding: 30px 20px;
}
nav{
  background-color: #00a6b3;
  padding: 20px;
}


a:hover{
  border-color: white;
}

main{
  width: 850px;
  margin: 35px auto;
}

h1{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 45px;
  letter-spacing: 1px;
  margin: 0;
}

h2{
  font-family: "Raleway", sans-serif;
  color: #0D2C40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}

p{
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px; 
}

a{
  font-family: "Raleway", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;;
}

img{
  margin: 40px 8px 0 8px;
}
#divScore{
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px; 
}
#yourScore, #score{
  margin-top: 10px;
  font-weight: 600;
  font-size: 25px;
}
#reset{
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  background-color: #f15b31;
  margin-bottom: 10px;
  font-size: 25px;
  color: white;
}

footer{
  text-transform: uppercase;
  padding: 0 20px 0 20px;
  background-color: #0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: 0.08em;
  font-weight: 500;
}

.copyright{
float: left;
  font-family: "Raleway", sans-serif;
}
.message{
  float: right;
  font-family: "Raleway", sans-serif;
}

.name{
  color: #f15b31;
  font-weight: 700;
}